langchain
langchain-core
langchain-openai
langchain-mistralai
mistralai
openai
chromadb
sentence-transformers
pypdf
unstructured
beautifulsoup4
tiktoken
python-dotenv
fastapi
uvicorn
pandas
numpy
streamlit
tqdm
requests
langchain-community
Chroma
arixv
HuggingFaceEmbeddings